.ticker {
  display: flex;
  background-color: #0c0e15;
  width: 100%;
  overflow: hidden;
  flex: 0 0 100%;

  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.ticker-list {
  display: flex;
  flex: 0 0 100%;
  width: 100%;

  flex-shrink: 0;
  display: flex;
  /* justify-content: space-around; */
  min-width: 100%;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.ticker:hover .ticker-list {
  animation-play-state: paused;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.tickerItem {
  border-left: 1px solid transparent;
  display: table-cell;
  position: relative;
  vertical-align: top;
  color: #fff;
  width: 100%;
}

.tickerItem:hover {
  background-color: #000;
}

.tickerItem:after {
  background: #2a2e39;
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -1px;
  width: 1px;
}
